# node_modules
node_modules/
new_client/node_modules/
server/node_modules/

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Build
new_client/dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
